#googleMap {
	height: 400px;
	width: 800px;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#history {
	display:inline-block;
	vertical-align: top;
	margin-left: 100px;
	border: 1px solid black;
	padding: 10px;
}

#component {
	display:inline-block;
}